:root {
  --primary: #FFD60A; /* yellow */
  --secondary: #023E8A; /* blue */
  --background: #FFFFFF; /* white */
}
body {
  background-color: var(--background);
  color: var(--secondary);
  font-family: 'Inter', sans-serif;
}
